name: Prepare Release (MC 1.21.11)

on:
  push:
    branches: [mc/1.21.11]

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.PERSONAL_TOKEN }}