name: Prepare Release

on:
  push:
    branches: [mc/*]

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.PERSONAL_TOKEN }}
          target-branch: ${{ github.ref_name }}